*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Muli';
  /*border: 1px solid red;*/
}

.toolOpt{
  color: white;
}

#workspace{
  margin-top: 150px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 900){
  #workspace{
    flex-direction: column;
  }
}
#puzzleGrid{

}

.row{
  display:flex;
}

.box{
  background-color: white;
  font-size: 20px;
  height: 30px;
  width: 30px;
  text-align: center;
  text-transform: capitalize;
  border: 1px solid black;
}
.boxes-box{
  position: relative;
  height: 30px;
  width: 30px;
}
.number{
  position: absolute;
  top: 0;
  left: 2px;
  font-size: 15px;
}
