*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Muli';
  border: 1px solid red;
}

#main-content{
  display: flex;
  justify-content: space-around;
  background-color: white;
  overflow-x: hidden;
}

.intro-box{
  margin-top: 130px;
  min-width: 30%;
  display: none;
  flex-flow: column;
  align-items: center;
}

#loginPage{
  display: flex;
}

.lButton{
  padding: 5px 40px 5px 40px ;
  width: 300px;
  text-align: center;
  letter-spacing: .1em;
  margin-bottom: 20px;
  border-radius: 3px;
  color: white;
  height: 40px;
  font-size: 20px;
  vertical-align: middle;
  cursor: pointer;
}

#fb-root{display: none;}
#loginPage{
  /*display: flex;*/
}

.lboxTitle{
  font-size: 30px;
  padding-bottom: 10px;
  border-bottom: 3px solid black;
  letter-spacing: .15em;
  margin-bottom: 20px;
}

.manualLogin{
  margin-top: 10px;
  width: 300px;
  height: 40px;
  border-radius: 3px;
  border: 1px solid #333;
  padding: 5px;
  font-size: 20px;
  text-align: center;
}

.enterB{
  width: 200px;
  height: 30px;
  margin-top: 10px;
  text-align: center;
  border-radius: 3px;
  padding: 4px;
  transition: .3s;
}

#login{
  border: 1px solid #7FDC57;
  color: #7FDC57;
  background-color: white;
}

#login:hover{
  background-color: #7FDC57;
  color: white;
  cursor: pointer;
}

#createNew{
  border: 1px solid #F05f79;
  background-color: white;
  color: #F05F79;
}

#createNew:hover{
  cursor: pointer;
  color: white;
  background-color: #F05F79;
}
#welcome{
  display: none;
}

#loginB{background-color: #6290C8; box-shadow: 2px 2px 4px 2px #777;}
#signUp{background-color: #6290C8; box-shadow: 2px 2px 4px 2px #777;}
#create{background-color: #6290C8; box-shadow: 2px 2px 4px 2px #777;}

.welcomeP{
  width: 60%;
  letter-spacing: .08em;
  text-align: center;
  transition: .3s;
  font-size: 20px;
}

#p1, #p2, #p3, #p4{
  /*visibility: hidden;*/
  margin-right: -6000px;
}

#enter{
  padding: 9px;
  border-radius: 2px;
  border: 2px solid #333;
  background-color: #B9EDFD;
}

.main-box{
  margin-top: 100px;
  /*display changed to flex in js*/
  display: none;
  width: 66%;
  flex-direction: column;
}

.main-box > h2{
  padding: 30px;
  letter-spacing: .1em;
  align-self: center;
}

#gridOpts{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.gridOpt{
  height: 200px;
  width: 200px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.number{
  font-size: 20px;
  color: black;
  z-index: 3;
}

#button{
  width: 100%;
  height: 100px;
  background: #333;
}
.optImg{
  padding: 5px;
}

.optTitle{
  padding: 10px;
  letter-spacing: .08em;
}

.optDesc{
  padding: 5px;
}

.black{
  background-color: black;
}

.white{
  background-color: white;
}

.input{
  width: 90%;
  font-size: 10px;
  padding: 5px;
  margin: 5px;
}

#premade, #opt1{
  display: none;
}

#submit{
  padding: 7px;
  margin: 5px;
  font-size: 10px;
  background-color: white;
  color: black;
  transition: .3s;
  border-radius: 2px;
  border: 1px solid black;
}

#submit:hover{
  background-color: black;
  color: white;
  cursor: pointer;
}
#gridsize{
  display: none;
}

#crossword{
  display: none;
  box-shadow: 0px 2px 19px 1px #232323;
}
.boxes-box{
  position: relative;
  height: 10px;
  width: 10px;
}
.number{
  position: absolute;
  top: 0;
  left: 2px;
  font-size: 15px;
}
.row{
  display:flex;
}

.gridOpt{
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.box{
  background-color: white;
  font-size: 5px;
  height: 10px;
  width: 10px;
  text-align: center;
  text-transform: capitalize;
  border: 1px solid black;
}
