#toolbar{
  width: 100%;
  color: black;
  background-color: white;
  height: 50px;
  display: flex;
  /*vartical align*/
  align-items: center;
  /*horizontal align*/

  /*justify-content: flex-start;*/
  box-shadow: 1px 1px 3px 2px whitesmoke;
  z-index: 2;
}

#user{
  display: flex;
}



#title{
  letter-spacing: .4em;
  margin-right: auto;
  margin-left: 40px;
  color: black;
  display: flex;
  min-width: 440px;
  align-items: flex-start;
  justify-content: space-between;
  transition: .2s;
  font-size: 12px;
}

#divider{
  width: 3px;
  height: 35px;
  background-color: white;
  display: block;
  margin-left: 35px;
  transition: .2s;
}
@media screen and (max-width: 830px) {
   #title{
        font-size: 12px;
        margin-left: auto !important;
        min-width: 160px;
    }
  #divider{
      margin-left: 0;
      display: none;
    }
}

@media screen and (max-width: 415px){
  #title{
    font-size: 9px;

  }
}
.toolOpt{
  color: #333;
  font-size: 20px;
  margin-right: 30px;
  margin-left: 30px;
  cursor: pointer;
}

.button{
  margin: 5px;
  border: 1px solid black;
  min-width: 100px;
  text-align: center;
  cursor: pointer;
  background-color: whitesmoke;
}

#dir-row{
  background-color: #B2DAE7;
}
