#toolbar{
  width: 100%;
  background-color: white;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: fixed;
}

#title{
  letter-spacing: .09em;
  color: black;
  margin-right: auto;
  margin-left: 120px;
  display: block;

}

#tools{
  display: none;
  transition: .5s;
  margin-right: 80px;
  justify-content: space-around;
  width: 33%;
}

.tool{
  display: flex;
  padding: 2px;
  border: 1px solid black;
  justify-content: flex-end;
}

.tool > div{
  margin: 5px;
  padding: 5px;
  border: 1px solid black;
  min-width: 80px;
  text-align: center;
  cursor: pointer;
}

#dir-row{
  background-color: #B2DAE7;
}
