#toolbar{
  width: 100%;
  background-color: black;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: fixed;
  border-bottom: 1px solid black;
  box-shadow: 2px 2px 4px 2px black;
  position: fixed;
  z-index: 2;
}

#user{
  display: flex;
}

#title{
  letter-spacing: .4em;
  color: white;
  margin-right: auto;
  margin-left: 120px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#divider{
  width: 3px;
  height: 35px;
  background-color: white;
  display: block;
  margin-left: 35px;
}

.toolOpt{
  color: white;
  font-size: 20px;
  margin-right: 40px;
  cursor: pointer;
}

#tools{
  display: flex;
  transition: .5s;
  margin-right: 80px;
  justify-content: space-around;
  width: 53%;
}

.tool{
  display: flex;
  padding: 2px;
  border: 1px solid black;
  justify-content: flex-end;
  background-color: white;
}

.button{
  margin: 5px;
  padding: 5px;
  border: 1px solid black;
  min-width: 80px;
  text-align: center;
  cursor: pointer;
  background-color: whitesmoke;
}

#dir-row{
  background-color: #B2DAE7;
}
